@import '~bulma/bulma.sass'; // ! comment out this line if you DO NOT want to use Bulma

.container {
  color: blue;
}

.hero {
  padding-left: 36px;
}

input {
  padding: 5px;
  margin-right: 5px;
}

audio {
  margin: 15px 0;
}